<!DOCTYPE html>
<html lang="en"> 
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial">
    <title>
        WP Project
    </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Handlee&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <div class="container">
        <header>
            <div class="row">
                <div class="col-log-4">

                </div>
    
                <div class="col-log-8">
                    <nav>
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href= "/login">Log In</a></li>
                        </ul>
                    </nav>
                </div>
           </div>

       </header>
       <main>
           <section id="middle-section">
               <div class="middle-contents">
               <h1>Welcome to our services</h1>
               <p>Find your desire teachers and students from us</p>
               <a class="btn" href="/start">Start your journey here</a>
               </div>
            </section>

            <section class="whyNeedUs">
            
                    <h1 class="title">Why Do You <span>Need to Trust Us?</span></h1>
              
                <div class="wrapper">
                    <div class="box">
                        <div class="count"><h1>1</h1></div>
                        <div class="text">
                            <p>
                                We Have the most experienced teachers of the city.
                            </p>
                        </div>
                    </div>
                    <div class="box">
                        <div class="count"><h1>2</h1></div>
                        <div class="text">
                            <p>
                                We provide support all time.
                            </p>
                        </div>
                    </div>
                    <div class="box">
                        <div class="count"><h1>3</h1></div>
                        <div class="text">
                            <p>
                                You also can change the teacher and student at any time.
                            </p>
                        </div>
                    </div>
                    <div class="box">
                        <div class="count"><h1>4</h1></div>
                        <div class="text">
                            <p>
                                Find the teachers from best institutes.
                            </p>
                        </div>
                    </div>
                </div>
                <h1 class="title">The teachers are from the following institutes</h1>
                <div class="imgs-gallery">
                    <div class="img-part">
                        <img src="/img/sust.png" width="100%" height="auto" alt="">
                    </div>
                    <div class="img-part">
                        <img src="/img/osmani.jpg" width="100%" height="auto" alt="">
                    </div>
                    <div class="img-part">
                        <img src="/img/agricutural.jpg" width="100%" height="auto" alt="">
                    </div>
                    <div class="img-part">
                        <img src="/img/sec.jpg" width="100%" height="auto" alt="">
                    </div>
                </div>
                
               
            </section>
           

          
       </main>
      

       </footer>
    </div>
    </body>
</html>
